@import "tailwindcss";
:root {
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --primary-light: #eef2ff;

  --secondary: #afb5bf;
  --secondary-hover: #475569;

  --danger: #ef4444;
  --danger-hover: #dc2626;

  --success: #16a34a;
  --success-hover: #15803d;

  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --background: #f8fafc;
  --surface: #ffffff;
  --border: #e2e8f0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}
